<h1>{config.page#atts#title}</h1>
<p>Login to the example site.</p>
<div>
;   user? 
    <span>Logged in as {name}</span>
;   
    <form>
        <label name="name>
            <input type="text" size="120" />
        </label>
        <button type="submit">Login</button>
    </form>
</div>
