<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Caneka Documentation - {page#name}</title>
<link href="/style.css?cache=6" rel="stylesheet" />
  <meta 
    name="viewport"
    content="width=device-width,maximum-scale=1.0,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes,shrink-to-fit=no"
  >
</head>
<body>
<header>
    <a class="anchor" name="top"></a>
    <div class="inner">
        <span id="hamburger"><object id="hamburger-svg" type="text/svg+xml" data="/images/hamburger_attack.svg"></object></span>
        <br />

<nav>
;  page.nav...
<ul>
;  >
    <li><a href="{#url}">{#name}</a>{^}</li>
;  = 
    <li><a href="{#url}">{#name}</a></li>
;  _
    <li><span class="active">{#name}</span></li>
;
</ul>
;
</nav>

    </div>
    <section class="start">
    <div class="logo-blocker"></div>
    <a class="hero" href="/">
    <h1>caneka</h1>
    </a>
    <H2>The <em>Spatial Oriented Programming</em> language and runtime.</H2>
    </section>
    <script type="text/javascript" src="/menu.js"></script>
</header>
