<h1>Statistics of the Example</h1>
<p>Server running since {stats#uptime}</p>
; stats.mem ?
<h2>Memory Heap</h2>
<p>Total Heap Size: <b>{mem-used}</b> of {mem-total}</p>
<ul>
;   mem-details...
    <li>
        <p><b>{*key}</b>: {*value}</p>
    </li>
;
</ul>
;
