<nav>
    <ul>
        $ menu-items...
        <li>
            $ ^0
                $ #index:
                    <a class="category" href="{#url}">{#name}</a>
                $
            $ ..
                $ #index:
                    <a class="sub-category" href="{#url}">{#name}</a>
                $
            $ . 
                <a href="{#url}">{#name}</a>
            $ -> 
                <ul>{@}</ul>
            $
        </li>
        $
    </ul>
</nav>
