<nav>
    <ul>
;       menu-items...
        <li>
;           ^0
;               #index:
                <a class="category" href="{#url}">{#name}</a>
;               -> 
                <ul>{}</ul>
;
;           ..
;               #index:
                <a class="sub-category" href="{#url}">{#name}</a>
;               -> 
                <ul>{}</ul>
;
;           . 
                <a href="{#url}">{#name}</a>
;
        </li>
;
    </ul>
</nav>
