doc {
    alpha: apple
    bravo: bannanna
    charlie: carrot
    start: 3

    list:
    - one
    - two
    - three

    tag {
        att-one: one
        att-two: two

        Body is a bit short...
        Oh well.

        link {
            href: https://example.com

            details
        }
    }

    footer {
        A secondary view of things.
    }
}
