<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Compare Basic - {title}</title>
<meta property="og:title" content="{title} - Compare Basic" />
<meta property="og:description" content="The proximity you have to the things you value defines your quality of life."/>
<meta property="og:image" content="/triangle-diagram.png" />
<script src="/dom" type="text/javascript"></script>
<script src="element.js" type="text/javascript"></script>
<link rel="stylesheet" href="/style" />
  <meta 
    name="viewport"
    content="width=device-width,maximum-scale=1.0,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes,shrink-to-fit=no"
  >
</head>
<body>
<header>
    <div class="inner">
        <div class="bread-crumbs">
        <ul>
;           menu-items...
            <li>
                <a href="{#path}">{#path}</a>
            </li>
;
        </ul>
        <div style="clear"></div>
        </div>
    </div>
</header>
