html {
  background: rgb(20,0,140);
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0px 20px;
  font-family: sans-serif;
  font-size: 1.2rem;
  color: rgb(255,255,255);
  background-image: linear-gradient(to bottom, rgb(230, 10, 120), rgb(20, 0, 140));
  display: block;
}

.clear {
  clear:both;
}

h1 {
  font-size: 2rem;
  margin: 32px 0 0 0;
  text-align: center;
  color: rgb(255,255,255);
}

h2 {
  font-size: 1.4rem;
	margin-bottom: 2rem;
  margin: 2rem 0 0 0;
  font-style: normal;
}

h3 {
  font-style:italic;
  font-size: 1.4rem;
  margin: 2rem 0 0 0;
}

h4 {
  text-decoration: italic;
  font-style:italic;
  font-size: 1.1rem;
  margin: 1.4rem 0 0 0;
}

a {
  color: rgb(255,255,0);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header, section, footer {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;
  display: block;
  box-sizing: border-box;
}

section, footer {
  margin: 10px auto 20px auto;
  padding: 10px;
}

section {
   border-radius: 16px;
   background: rgba(255,255,255, 0.12);
   padding: 10px 20px;
}

section section {
   padding: 10px 0;
   border:none;
}

header span.logo {
  font-style: italic;
  font-size: 3rem;
  font-weight: bold;
  display: block;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
  margin: 0;
}

nav {
  padding: 10px 0;
  margin: 10px 0;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  font-size: 1.2rem;
}

nav a:hover {
  text-decoration: underline;
  color: rgb(220,0,255);
}

nav li {
    list-style: none;
    display: inline-block;
    margin-right: 1.4rem;
    font-size: 1rem;
}

nav li:last-child {
    margin-right: 0;
}

pre {
	padding: 24px;
	background: white;
	font-family: monospace, monospace;
}

input {
    border-radius: 4px;
    background: rgba(255,255,255, 0.5);
    border: 1px solid white;
    display: inline-block;
    padding: 8px 6px;
    display:inline-block;
    font-size: 16px;
}

button {
    background: rgb(20,80, 255);
    border-radius: 4px;
    border: 1px solid rgb(16, 60, 200);
    padding: 8px 6px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

button:hover {
    background: rgb(40,120, 255);
    border: 1px solid white;
}

button:active {
    ;
}

input:focus {
    border: 1px solid rgb(200,200,200);
}

input::placeholder {
    color: rgb(255,255,255);
}

div.center-focused {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

div.center-focused .button-wrapper {
    text-align: left;
}

div.input-wrapper, div.button-wrapper {
    position: relative;
    padding: 8px 4px 8px 4px;
    display: block;
    width: 300px;
    margin: 0 auto;
}

div.input-wrapper {
    padding: 26px 4px 8px 4px;
}

div.input-wrapper label {
    font-size: 14px;
    position: absolute;
    top: 8px;
    left: 4px;
    display: inline-block;
}

footer {
  margin-top: 40px;
  max-width: 512px;
  text-align: center;
}

footer img.logo {
  padding: 8px;
  height: 80px;
  display: block;
  margin: 10px auto;
}

input[type="checkbox"] + p + ul,
input[type="checkbox"] + p + ul + p {
    display:none;
}

input[type="checkbox"]:checked + p + ul,
input[type="checkbox"]:checked + p + ul + p {
    display:block;
}


.abs-label {
    position: absolute;
    top: 12px;
    left 12px;
}

#page-tests table {
    border-collapse: collapse;
    border: 1px solid black;
    display:block;
    margin: 18px;
}

#page-tests .status-section {
    position: relative;
    background: white;
    padding: 20px 16px 16px 16px;
}

#page-tests article {
    float: left;
    width: 48%;
}

#page-tests .status-section a {
    color: rgb(0,0,200);
}

#page-tests table td {
    padding: 4px 8px;
}

#page-tests table thead td {
    text-align: center;
    font-weight: bold;
}

#page-tests .status-done {
    color: rgb(0,140,0);
    font-weight: bold;
}

#page-tests .color-swatch {
    display: block;
    height: 16px;
    width: 16px;
    border-radius: 8px;
}

#page-tests .status-done .color-swatch {
    background: rgb(0,140,0);
}

#page-tests .status-started {
    color: rgb(180,120,0);
    font-weight: bold;
}

#page-tests .status-started .color-swatch {
    background: rgb(180,120,0);
}

#page-tests .status-partial {
    color: rgb(0,0,180);
    font-weight: bold;
}

#page-tests .status-partial .color-swatch {
    background: rgb(0,0,180);
}

#page-tests .status-not-started {
    color: rgb(40,40,40);
    font-weight: bold;
}

#page-tests .status-not-started .color-swatch {
    background: rgb(40,40,40);
}

.code-box {
    background: rgba(245, 225, 120, 0.9);
}

.code-box, #page-tests .status-section, pre {
    border: 1px solid rgb(100,100,100);
    border-radius: 6px;
    color: black;
}

.example-highlight {
	border: 1px solid white;
	border-radius: 16px;
	padding: 24px;
	margin: 16px 0;
}
