  html {
    font-size: 16px;
  }

  body {
    margin: 0;
    padding: 0 1rem;
    font-family: sans-serif;
    font-size: 1.2rem;
    background: rgb(20, 0, 140);
    color: rgb(255,255,255);
  }

  .clear {
    clear:both;
  }

  h1 {
    font-size: 2rem;
    margin: 32px 0 0 0;
    text-align: center;
    color: rgb(255,255,255);
  }

  h2 {
    font-size: 1.4rem;
	margin-bottom: 2rem;
    margin: 2rem 0 0 0;
    color: rgb(246,246,246);
    font-style: normal;
  }

  h3 {
    color: rgb(180, 200, 0);
    font-style:italic;
    font-size: 1.4rem;
    margin: 2rem 0 0 0;
  }

  h4 {
    color: rgb(80, 80, 80);
    text-decoration: italic;
    font-style:italic;
    font-size: 1.1rem;
    margin: 1.4rem 0 0 0;
  }

  a {
    color: rgb(255,255,0);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  header, section, footer {
    max-width: 1024px;
    margin: 10px auto 20px auto;
    display: block;
    box-sizing: border-box;
  }

  section {
     border-radius: 16px;
     border: 1px solid rgb(255,255,230);
     padding: 10px 20px;
  }

  section section {
     padding: 10px 0;
     border:none;
  }

  header span.logo {
    font-style: italic;
    font-size: 3rem;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  nav {
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
  }

  nav ul {
    margin: 0;
    padding: 0;
  }

  nav a {
    text-decoration: none;
    font-size: 1.2rem;
  }

  nav a:hover {
    text-decoration: underline;
    color: rgb(220,0,255);
  }

  nav li {
      list-style: none;
      display: inline-block;
      margin-right: 1.4rem;
      font-size: 1rem;
  }

  nav li:last-child {
      margin-right: 0;
  }

  footer {
    margin-top: 40px;
    max-width: 512px;
    text-align: center;
  }

  footer img.logo {
    padding: 8px;
    height: 80px;
    display: block;
    margin: 10px auto;
  }

