html {
  background: rgb(20,0,140);
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0px 20px;
  font-family: sans-serif;
  font-size: 1.2rem;
  color: rgb(255,255,255);
  background-image: linear-gradient(to bottom, rgb(230, 10, 120), rgb(20, 0, 140));
  display: block;
}

.clear {
  clear:both;
}

h1 {
  font-size: 2rem;
  margin: 32px 0 0 0;
  text-align: center;
  color: rgb(255,255,255);
}

h2 {
  font-size: 1.4rem;
	margin-bottom: 2rem;
  margin: 2rem 0 0 0;
  color: rgb(246,246,246);
  font-style: normal;
}

h3 {
  color: rgb(180, 200, 0);
  font-style:italic;
  font-size: 1.4rem;
  margin: 2rem 0 0 0;
}

h4 {
  color: rgb(80, 80, 80);
  text-decoration: italic;
  font-style:italic;
  font-size: 1.1rem;
  margin: 1.4rem 0 0 0;
}

a {
  color: rgb(255,255,0);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header, section, footer {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;
  display: block;
  box-sizing: border-box;
}

section, footer {
  margin: 10px auto 20px auto;
  padding: 10px;
}

section {
   border-radius: 16px;
   background: rgba(255,255,255, 0.12);
   padding: 10px 20px;
}

section section {
   padding: 10px 0;
   border:none;
}

header span.logo {
  font-style: italic;
  font-size: 3rem;
  font-weight: bold;
  display: block;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
  margin: 0;
}

nav {
  padding: 10px 0;
  margin: 10px 0;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  font-size: 1.2rem;
}

nav a:hover {
  text-decoration: underline;
  color: rgb(220,0,255);
}

nav li {
    list-style: none;
    display: inline-block;
    margin-right: 1.4rem;
    font-size: 1rem;
}

nav li:last-child {
    margin-right: 0;
}

footer {
  margin-top: 40px;
  max-width: 512px;
  text-align: center;
}

footer img.logo {
  padding: 8px;
  height: 80px;
  display: block;
  margin: 10px auto;
}
