  html {
    font-size: 16px;
  }

  body {
    margin: 0;
    padding: 0 2rem;
    font-family: sans-serif;
    font-size: 0.6rem;
    background: black;
    color: rgb(255,230,230);
  }

  .clear {
    clear:both;
  }

  h1 {
    font-size: 2rem;
    margin: 32px 0 0 0;
    text-align: center;
    color: rgb(255,255,255);
  }

  h2 {
    font-size: 1.4rem;
	margin-bottom: 2rem;
    margin: 2rem 0 0 0;
    color: rgb(246,246,246);
    font-style: normal;
  }

  h3 {
    color: rgb(120, 0, 0);
    font-style:normal;
    font-size: 1.2rem;
    margin: 2rem 0 0 0;
  }

  h4 {
    color: rgb(80, 80, 80);
    text-decoration: italic;
    font-style:italic;
    font-size: 1.1rem;
    margin: 1.4rem 0 0 0;
  }

  a {
    text-decoration: none;
    color: rgb(180,0,255);
  }

  a:hover {
    text-decoration: underline;
  }

  nav li {
      list-style: none;
      display: inline-block;
      margin-right: 3rem;
  }

  nav li:hover {

  }

  section {
     background: rgb(20,20,20);
     padding: 2rem;
     margin: 2rem 0;
     border-radius: 1rem;
  }

  footer {
    position: relative;
  }

  footer img.logo {
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
  }

